*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body, html{
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
}

header#header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: burlywood;
}

header#header #logo img{
    width: 75px;
}

header#header nav a{
    padding: 0 15px;
    font-size: 1.5rem;
    color: black;
}

#cabecera{
    width: 100%;
    height: 80vh;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(fondo.jpg);
    background-size: cover;
}

#cabecera h1{
    font-size: 4rem;
    color: black;
    text-transform: uppercase;
    letter-spacing: 10px;
    background-color: white;
    padding: 20px;
section#servicios{
    width:100%;
    height:60vh;
    background-color:#fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
section#servicios img{
    width:150px;
    
}
section#servicios h2{
    font-size:2rem;
    padding-bottom: 100px;
    
    
}
section#servicios div{
    display: flex;
    justify-content: center;
flex-direction: row;

}
section#servicios figure{
    border-radius: 50%;
    border:2px solid burlywood;
  width: 180px;
  height: 180px;
  padding:40px;
  display: flex;
  justify-content: center;
  align-items:center ;
}